@charset "utf-8";

body {
	margin: 0 auto;
	width: 100%;
	max-width: 1220px;
	min-width: 640px;
	background-color: orange;
}

html{
	background-color: rgb(150, 225, 150);
}

header{
	text-align: center;
}

header a{
	position: relative;
	color: black;
	text-decoration: none;
	padding-left: 1.5%;
	font-weight: bold;
}

header a:hover{
	color: white;
}

body div{
	padding: 1%;
	display:inline-block;
}

footer{
	bottom: 0px;
	width: 100%;
	background-color: black;
	color: white;
	padding: 1%;
}

body #trueBody{
position: relative;
}

body #recentPictures{
	position: relative;
	float:left;
	width: 35%;
}

body #recentPictures img{
	max-height: 35%;
}

#recentPictures #fadeIn1{
	position: absolute;
	top: 4em;
	left: 0px;
}

#recentPictures #fadeIn2{
position: absolute;
top: 4em;
left: 0px;
}

#recentPictures #fadeIn3{
position: absolute;
top: 4em;
left: 0px;
}

#recentPictures #fadeIn4{
position: absolute;
top: 4em;
left: 0px;
}

#recentPictures #fadeIn5{
position: absolute;
top: 4em;
left: 0px;
}

.rotate1{
	-webkit-transform:rotate(90deg);
}

body #mainDiscussionBox{
position: relative;
float: none;
width : 35%;
}

body #notableMembers{
position: relative;
float: right;
width: 20%;
}

#videos{
position: absolute;
left: 0em;
top: 20em;
}